<div class="bg-primary position-fixed fixed-bottom text-white flex row flex-grow-1 border border-black"
    style="height: 60px; pointer-events: all; cursor: pointer;">

    <div routerLink="/news-feed" class="flex-grow-1 bg-primary text-center p-3 flex-column justify-center">
        <h4>
            News Feed
        </h4>
    </div>

    <div routerLink="/trade-bot" class="flex-grow-1 bg-success text-center p-3 flex-column justify-center">
        <h4>
            Trade Bot
        </h4>
    </div>

    <div routerLink="/settings" class="flex-grow-1 bg-primary text-center p-3 flex-column justify-center">
        <h4>
            Settings
        </h4>
    </div>

</div>
