<!-- Toolbar -->
<div class="toolbar pr-4 bg-primary" role="banner">

  <h2 class="px-3">
    😎
  </h2>

  <!-- <img width="40" alt="Trade Buddy Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /> -->
  <h4><i>Trade Buddy</i></h4>
  <div class="spacer"></div>

  <span class="p-3">{{maskedConnectedAccountId}}</span>

  <a href="https://auth.tdameritrade.com/oauth?client_id=ESRWAJCTK8NS8D21HNVFXRA42L3XQSVZ%40AMER.OAUTHAP&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A4200%2Flogin-callback&lang=en-us">
    <button type="button" class="btn btn-success btn-sm"  *ngIf="maskedConnectedAccountId === defaultNotConnectedToTdText"
      tooltip="Uses a secure OAuth connected to link your account. Connection is killed when you close your browser window (and times out after 30 min).">
      Connect TD Account
    </button>
  </a>

    <button type="button" class="btn btn-success btn-sm" *ngIf="maskedConnectedAccountId !== defaultNotConnectedToTdText" (click)="logoutClicked()">
      Logout
    </button>

</div>

<!-- Footer -->
<div class="mt-4 mb-3 text-center">
  Trade Buddy © 2020
</div>

<router-outlet></router-outlet>

<app-footer-nav></app-footer-nav>
  
<div class="position-fixed fixed-bottom">
  <app-toasts-container></app-toasts-container>
</div>