<p>toasts-container works!</p>

<div
    style="position: fixed; bottom: 3.5em; margin-left: 1em; display: flex; flex-direction: column; position: absolute; width: 350px;">

    <div *ngFor="let toast of toasts; let i = index">
        <alert [type]="toast.type" dismissible="toast.dismissible" [dismissOnTimeout]="toast.timeout"
            (onClosed)="toastSvc.onClosed(toast)">{{ toast.msg }}
            <br />
            <button type="undo" class="btn btn-secondary btn-sm mt-2" (click)="undoClicked()">Undo</button>
        </alert>
    </div>

</div>

<button (click)="toastSvc.addToast()"></button>
<!-- </ng-container> -->