<!-- Toolbar -->
<div class="toolbar pr-4" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Trade Buddy</span>
  <div class="spacer"></div>
  <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a> -->

  <span class="p-3">{{connectedToText}}</span>

  <button type="button" class="btn btn-success btn-sm"
    tooltip="Uses a secure OAuth connected to link your account. Connection is killed when you close your browser window (and times out after 30 min).">
    Get Auth Code
  </button>

</div>

<div class="content" role="main">

  <!-- Connect Account Section -->

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Auth Code</span>
    </div>

    <input type="text" class="form-control mr-2" id="basic-url" aria-describedby="basic-addon3">

    <button type="button" class="btn btn-success btn-sm"
      tooltip="Uses a secure OAuth connected to link your account. Connection is killed when you close your browser window (and times out after 30 min).">
      Connect TD Account
    </button>

  </div>

  <!-- Bot Settings Section -->

  <div class="flex justify-content-start w-100 row flex-nowrap">

    <div class="card bg-primary w-100 h-auto text-white flex-grow-1">
      <div class="card-body p-1">
        <h5 class="card-title">Bot Settings</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->

        <div class="column px-4">

          <p class="card-text">Bot Autonomy</p>

          <!-- Bot Autonomy -->
          <div class="row d-flex pl-4">

            <div class="form-check p-2 flex-grow-1">
              <input type="radio" class="form-check-input" id="botAutonomyRequireApproval" name="botAutonomyRadio" checked>
              <label class="form-check-label" for="botAutonomyRequireApprovalRadio">Require Approval</label>
            </div>

            <div class="form-check p-2 flex-grow-1">
              <input type="radio" class="form-check-input" id="botAutonomyAutotrade" name="botAutonomyRadio">
              <label class="form-check-label" for="botAutonomyAutotradeRadio">Autotrade</label>
            </div>
          </div>

          <!-- Bet Sizing -->
          <!-- <div class="row d-flex pl-4">
            
            <div class="form-check p-2 flex-grow-1">
              <input type="radio" class="form-check-input" id="botAutonomyRequireApproval" name="botAutonomyRequireApprovalRadio" checked>
              <label class="form-check-label" for="botAutonomyRequireApproval">Require Approval</label>
            </div>
            
            <div class="form-check p-2 flex-grow-1">
              <input type="radio" class="form-check-input" id="botAutonomyAutotrade" name="botAutonomyAutotradeRadio">
              <label class="form-check-label" for="botAutonomyAutotrade">Autotrade</label>
            </div>
          </div> -->

        </div>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card border border-primary rounded w-100 h-auto text-dark flex-grow-1">
      <div class="card-body p-1">
        <h6 class="card-title">Portfolio Value</h6>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <h4 class="card-title">Cash: $1,004.24</h4>
        <h4 class="card-title">Assets: $60,561.30</h4>
        <hr class="border-primary"/>
        <h3 class="card-title">Total: $61,565.54</h3>


      </div>
    </div>


  </div>

  <!-- Positions Section -->
  <div class="container-fluid row m-1 my-2 border border-primary rounded">

    <div class="col-12 p-2">

      <h2 class="text-center pb-2">Positions</h2>

      <ul>

        <li>
          Aapl - $7,003 (20 shares)
        </li>

        <li>
          MSFT - $20,003 (70 shares)
        </li>

      </ul>

    </div>

  </div>

  <!-- Active Orders sections -->

  <div class="flex p-1 my-2 border border-primary rounded w-100">

    <h2 class="text-center mb-4 mt-4 pt-2">Active Orders</h2>

    <div class="row flex justify-content-around">

      <div class="flex-grow-1">

        <h3 class="text-center py-1"><u>Postion-Opening</u></h3>

        <ul>

          <li>
            Aapl - $7,003 (20 shares)
          </li>

          <li>
            MSFT - $20,003 (70 shares)
          </li>

        </ul>

      </div>

      <div class="flex-grow-1">

        <h3 class="text-center py-1"><u>Postion-Closing</u></h3>

        <ul>

          <li>
            Aapl - $7,003 (20 shares)
          </li>

          <li>
            MSFT - $20,003 (70 shares)
          </li>

        </ul>

      </div>

    </div>

  </div>

  <!-- Suggested Trades sections -->

  <div class="flex p-1 my-2 border border-primary rounded w-100">

    <h2 class="text-center mb-4 mt-4 pt-2">Suggested Trades</h2>

    <div class="row flex justify-content-around">

      <div class="flex-grow-1">

        <h3 class="text-center py-1"><u>Postion-Opening</u></h3>

        <ul>

          <li>
            Aapl - $7,003 (20 shares)
          </li>

          <li>
            MSFT - $20,003 (70 shares)
          </li>

        </ul>

      </div>

      <div class="flex-grow-1">

        <h3 class="text-center py-1"><u>Postion-Closing</u></h3>

        <ul>

          <li>
            Aapl - $7,003 (20 shares)
          </li>

          <li>
            MSFT - $20,003 (70 shares)
          </li>

        </ul>

      </div>

    </div>

  </div>

  <!-- Footer -->
  <div class="mt-4 mb-1">
    Trade Buddy © 2020
  </div>

  <!-- <router-outlet></router-outlet> -->